

#nm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

#img {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 20px;
    height: 400px;
}

#nr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: inherit;
    margin-left: 50px;
    margin-top: -360px;
}


#em{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: inherit;
    margin-left: 260px;
    margin-bottom: 0px;
}

#git{

    margin-left: -600px;
    margin-top: 200px;
    


}

#git2{
width: 140px;
margin-left: -100px;
    

}


#lk img{

    width: 50px; 
    height: 50px;
    margin-top: 200px;
    margin-left: 330px;
    

}

#sb{
margin-left: 800px;
margin-top: -210px;
font-size: 44px;
    
}

#sb2{

    margin-left: 800px;
    font-size: 20px;
    
        
    }


    .tabela{
    font-size: 24px;
     display: flex;
     margin-left: 100px;
     margin-top: -300px;


    }
    
    #formacao{

      margin-left: 100px;
      font-size: 10px;
    }


#cey{
    
    color: rgb(127, 133, 133);
}

#uc{
    
    color: rgb(127, 133, 133);
}

#pj{
display: flex;
justify-content: center;
margin-right: 50px;
font-size: 44px;
}

#pj2{
    display: flex;
    justify-content: center;
    margin-left: 800px;
    font-size: 20px;
    }

#basyc {
display: flex;
width: 500px;
margin-left:1000px ;

}

@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .rotate {
    animation: rotateAnimation 2s infinite linear;
  }
  

  @keyframes basycAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .animacao-basyc {
    animation: basycAnimation 1.0s infinite;
  }
  